.raceText {
  padding: 8px;
  max-width: 500px;
  background: #ddd;

  > * {
    color: blue;
  }
}

.word {
  position: relative;
  display: inline-block;
  // margin-right: 6px;
  margin-bottom: 4px;

  .raceText[data-state~="race"] &[data-wordstate="prev"] {
    opacity: .5;
  }
  .raceText[data-state~="race"] &[data-wordstate="current"] {
    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: -4px;
      right: -4px;
      left: -4px;
      height: 2px;
      border-radius: 2px;
      background: rgba(0,0,0,.12);
    }
  }
  .raceText[data-state~="race"] &[data-wordstate="next"] {
  }
}

.letter {
  position: relative;
  display: inline-block;
  white-space: pre;

  transition: all .1s ease-out;

  .raceText[data-state~="race"] &[data-letterstate="prev"] {
    opacity: .5;
    transform: scale(.8);
  }
  .raceText[data-state~="race"] &[data-letterstate="current"] {
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -1px;
      bottom: -1px;
      width: 2px;
      height: 24px;
      background: #333;
    }
  }
  .raceText[data-state~="race"] &[data-letterstate="next"] {
  }
}
