@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --color-text-primary: white;
  --color-text-secondary: rgba(255,255,255,.8);
  --color-text-gray: rgba(255,255,255,.64);
  --color-red: #ff3d00;
}

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: white;
}
body {
  background-color: #1b1a23;
  // background-image: linear-gradient(180deg, #27262f 0%, #1b1a23 100%);
}
