.book {
  display: flex;
  flex-direction: row;
  align-items: center;

  > svg {
    top: 1px;
    display: inline-block;
    height: 1.3em;
    width: auto;
  }
  > span {
    display: inline-block;
    margin-left: .5em;
    font-style: italic;
    color: var(--color-text-secondary);
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      height: 1px;
      border-bottom: 1px dashed rgba(255,255,255,.24);
    }

    &:hover::after {
      border-color: rgba(255,255,255,.5);
    }
  }
}

.race {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.text {
  margin-top: 1em;
  font-size: 1.3em;
  line-height: 1.6em;
  letter-spacing: 1px;

  .race[data-state~="countdown.waiting"] & {
    filter: blur(.25em);
  }
}

.word {
  margin-right: .4em;
  display: inline-block;
  white-space: nowrap;

  .race[data-state~="race"] & {
    &[data-wordstate="prev"] {
      opacity: .3;
    }
    &[data-wordstate="current"] {
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: -.1em;
        bottom: -.1em;
        // right: .2em;
        right: -.1em;
        top: -.1em;
        background: rgba(255,255,255,.05);
        border-radius: .2em;
        z-index: -2;

        animation: highlight-word .3s ease-out;
        animation-fill-mode: backwards;
        @keyframes highlight-word {
          from { transform: translateX(-5px); }
        }
      }
    }
  }
}

.letter {
  display: inline-block;
  white-space: pre;

  transform-origin: center;
  transition:
    opacity .03s ease-out,
    transform .03s ease-out;

  --cursor-bg: transparent;

  .race[data-state~="race"] & {
    &[data-letterstate="prev"] {
      opacity: .3;
      // transform: scale(.85);
    }

    // caret
    &[data-letterstate="current"] {
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: -1px;
        bottom: 1px;
        right: 0;
        height: 1.5em;
        background: var(--cursor-bg);
        z-index: -1;

        // animation: cursor-move .05s ease-out;
        // animation-fill-mode: backwards;
        // transform-origin: center bottom;
        // @keyframes cursor-move {
        //   from { transform: translateX(-5px); }
        // }
      }
    }
  }

  .race[data-state~="race.valid"] & {
    &[data-letterstate="current"] {
      // --cursor-bg: #ffbc11;
      --cursor-bg: transparent;
    }
  }
  .race[data-state~="race.invalid"] & {
    &[data-letterstate="current"] {
      --cursor-bg: #672424;

      &::before {
        animation: highlight-error-letter .14s ease-out;
        animation-fill-mode: backwards;
        @keyframes highlight-error-letter {
          from {
            color: var(--color-red);
            transform: scale(1.3);
          }
        }
      }
    }
  }
}

.input {
  --text-color: var(--color-text-primary);
  --border-color: var(--color-text-primary);
  --cursor-color: rgba(255,255,255,.3);

  padding: .5em 0;
  margin-top: 2.1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 2.5em;
  color: var(--text-color);
  white-space: pre;
  cursor: text;
  opacity: .5;
  font-size: 1.6em;

  // border
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    border: 2px solid var(--border-color);
    border-radius: .2em;
  }

  .race[data-state~="race"][data-focused="false"] &:hover {
    opacity: .8;
  }
  .race[data-state~="countdown"][data-focused="true"] &,
  .race[data-state~="race"][data-focused="true"] & {
    opacity: 1;
  }
  .race[data-state~="race"] & {
    animation: start-race .2s ease-out;
    animation-fill-mode: backwards;
    @keyframes start-race {
      from { background: white; }
    }
  }
}
.inputWrapper {
  padding: 0 .5em;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  overflow: hidden;

  .race[data-state~="race.selected"] & {
    &::before {
      content: "";
      position: absolute;
      left: .3em;
      right: .3em;
      bottom: -.1em;
      top: -.1em;
      display: block;
      background: rgba(255,255,255,.32);
    }
  }
}
.inputCurrentWord {
  position: relative;
}
.inputWrongText {
  display: inline-block;

  .race[data-state~="race.invalid"] & {
    &::before {
      content: "";
      position: absolute;
      left: -1px;
      right: -1px;
      bottom: -1px;
      top: -1px;
      display: block;
      background: var(--color-red);
      border-radius: .2em;
      z-index: -1;
    }
  }
}
.inputCursor {

  display: inline-block;
  height: 1.3em;

  &::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 1px;
    bottom: -1px;
    display: block;
    width: 2px;
    background: var(--cursor-color);

  }

  .race[data-state~="race"][data-focused="true"] & {
    --cursor-color: var(--color-text-primary);

    animation: pulse-cursor 1s infinite;
    animation-fill-mode: backwards;
    animation-delay: .5s;
    @keyframes pulse-cursor {
      to { opacity: .3; }
    }
  }
  .race[data-state~="race.selected"] & {
    &::before {
      display: none;
    }
  }
}

.stats {
  --stats-color: var(--color-text-gray);
  position: absolute;
  right: 0;
  bottom: -1.2em;

  > span {
    margin-left: .6em;
    display: inline-block;
    border-radius: .2em;
    font-size: .6em;
    line-height: .6em;
    color: var(--stats-color);
    // background: rgba(255,255,255,.03);
  }

  .race[data-state~="race.finished"] & {
    --stats-color: var(--color-text-primary);
  }
}

.status {
  --status-color: var(--color-text-gray);
  position: absolute;
  left: 0;
  bottom: -1.2em;

  > span {
    margin-right: .6em;
    display: inline-block;
    border-radius: .2em;
    font-size: .6em;
    line-height: .6em;
    color: var(--status-color);
  }
}
